<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/791eefedbd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles/main.css" />
    <title>Math Chatbot</title>
  </head>

  <body>
    <header class="p-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-light m-0 py-1">
        <a class="navbar-brand" href="#">MathBot</a>
      </nav>
    </header>
    <div class="vw-100 min-vh-100 row m-0 p-3">
      <div class="col-md-6">a</div>
      <div class="col-md-6" id="chatbot-container">
        <div id="text-input">
          <form method="POST" id="question-holder">
              <input id="question" name="question" placeholder="Type a math question" class="px-3 py-2"/>
              <button type="submit" id="send-button"><i class="fas fa-paper-plane"></i></button>
          </form>
        </div>
        <div class="d-flex flex-column mb-5" id="text-output">
          {% for chat_response in allChats %}

            {% if chat_response["question"] != "" %}
            <p class="question my-4"><span class="question-text p-3">{{ chat_response["question"] }}</span></p>
            {% endif %}
            <p class="response my-4"><span class="response-text p-3">{{ chat_response["answer"] }}</span></p>
          <!-- </div> -->
          {% endfor %}
        </div>
      </div>
    </div>
    <script>
        window.onload = function() {
            console.log("FUNCTION CALLED");
            setTimeout(function () {
                window.scrollTo(0,document.body.scrollHeight);
         },1);
        }
    </script>
  </body>
</html>
